html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    background-color: $veryLightGray;
}

h1, p {
    margin: 0;
}